<% include header %>

  <h1><%-title %></h1>
  <p>Proyectos:</p>
  <ul>
    <li>IoT Weather Station</li>
    <p>- Autores: Edwin Montoya M - emontoya@eafit.edu.co / David Velasquez - dvelas25@eafit.edu.co</p>
    <p>- Web Services:</p>
    <p><a target="_blank" href="https://github.com/iotweatherstation/iotws-server/blob/master/README.md">Documentación</a></p>
    <ol>
    <li>http://server/weather/getTime</li>
    <li>http://server/weather/saveSensor?idhome="username" & temp="val" & humid="val" & timestamp="date"</li>
    <li>http://server/weather/"username"</li>
    <li>http://server/weather/username/"size"</li>
    <li>http://server/sendMyLocation.html</li>
    <li>http://server/weather/getSwitch?idhome="username"</li>
    <li>http://server/weather/putSwitch?idhome="username"&val=[0|1]</li>
    </ol>
    <p>-<a target="_blank" href="https://github.com/iotweatherstation"> Github del proyecto </a></p>
  </ul>

<% include footer %>
